{% load static %}
<html>
<head>
    <title>
        WEATHER API | Diana Joanita
    </title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'img/favicon.ico' %}">
<style>
    
.aa{
    float: left;
}
</style>
</head>

<body style="background-color: #03A9F4;">
<div class="text-success fixed-top" style="font-size: 16px; margin: 5px;">
    Contact me :<a class="text-white" href="mailto:dianajoanita900@gmail.com/"> Diana Joanita Nakyazze </a>
</div>
<div class="bg bg-dark text-success text-center " style="font-size: 16px;">
    <form method='POST'>
        {{ form }}
        {% csrf_token %}
        <input type="submit" class=" btn btn-primary" value="ADD A CITY">
    </form>
</div>
<div class="container">
    {% for city_w in we %}

    <div class="card rounded col-3 justify-content-center rounded shadow aa m-2">
        <div class="card-title text-info shadow bg-dark "><h1>{{ city_w.city }}<h1></h1></div>
        <div class="card-body text-danger "><table class="table shadow bg bg-dark text-success">
            <tr>
                <td>TEMP</td>
                <td>{{ city_w.temp }} K</td>
            </tr>
             <tr>
                <td>WEATHER</td>
                <td>{{ city_w.weather }}</td>
            </tr>
             <tr>
                <td>min_temp</td>
                <td>{{city_w.temp_min}} K</td>
            </tr>
             <tr class="mb-1">
                <td>max_temp</td>
                <td>{{city_w.temp_max}} K</td>
            </tr>

        </table>

</div>
    </div>
{% endfor %}
</div>
</body>
</html>